.container {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;

  .menu {
    flex: 0 0 250px;
    background: #eee;

    .menuItem {
      display: block;
      margin: 4px;
    }
  }

  .content {
    flex: 1 1 auto;
    padding: 8px;
  }
}
