# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on: [push]

env:
  cache-key-node-modules: node-modules-${{ github.run_number }}-${{ github.run_attempt }}
  node-version: "17.7.2"

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.node-version }}
      - uses: actions/checkout@v2
      - name: "cache ~/.npm"
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: dotnpm-${{ hashFiles('package-lock.json') }}
      - name: "cache node_modules"
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ env.cache-key-node-modules }}
      - run: npm ci
  lint:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.node-version }}
      - uses: actions/checkout@v2
      - name: "restore cached node_modules"
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ env.cache-key-node-modules }}
      - run: npm run lint
  type-check:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.node-version }}
      - uses: actions/checkout@v2
      - name: "restore cached node_modules"
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ env.cache-key-node-modules }}
      - run: npm run type-check
